@media screen and (min-width: 376px) {
  /* general */
  .wrapper-flex-column {
    display: flex;
    flex-direction: column;
  }

  .wrapper-flex {
    display: flex;
  }

  article .description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1rem;
  }

  /* main */

  /* button hover */
  nav .btn-contact {
    transition: all 300ms ease-in-out;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }

  nav .btn-contact::after {
    background-color: var(--white);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 300ms ease-in-out;
  }

  nav .btn-contact:hover::after {
    opacity: 0.4;
  }
  nav .btn-contact:hover {
    color: var(--white);
  }

  /* logo */

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-image {
    max-width: 124px;
    max-height: 24px;
  }

  /* about section */

  #about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #about article {
    display: flex;
    padding: 0;
    max-height: 500px;
    min-height: 500px;
  }

  .about-header {
    font-size: 2rem;
    font-weight: 900;
  }

  #about .article-wrapper {
    width: 50%;
    padding: 7rem 6rem;
    text-align: left;
  }

  .reversed-item {
    flex-direction: row-reverse;
  }

  .section-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
  }

  .yellow-underline:hover::after {
    opacity: 1;
  }

  .red-underline:hover::after {
    opacity: 1;
  }

  /* services section */

  #services {
    display: flex;
    height: 50%;
  }

  #services article {
    max-height: 500px;
    min-height: 500px;
  }

  .service {
    width: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .service-header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #services .article-wrapper {
    height: 35%;
    margin: 0 auto;
  }

  #services .description {
    margin: 0;
  }

  /* testimonials */

  #testimonials {
    padding: 8rem 6rem 12rem 6rem;
  }

  #testimonials article {
    padding: 1rem;
  }

  #testimonials img {
    margin-bottom: 3rem;
  }

  #testimonials .testimonial-text {
    margin: 0;
    min-height: 42%;
    line-height: 1.5;
  }

  #testimonials .person-name {
    margin-top: 0;
  }

  /* images */

  .egg-img {
    background-image: url(../images/desktop/image-transform.jpg);
  }

  .red-glass-img {
    background-image: url(../images/desktop/image-stand-out.jpg);
  }

  .cherries-img {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }

  .orange-img {
    background-image: url(../images/desktop/image-photography.jpg);
  }

  .milkbottles-img {
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
  }

  .orange-on-a-plate-img {
    background-image: url(../images/desktop/image-gallery-orange.jpg);
  }

  .cone-img {
    background-image: url(../images/desktop/image-gallery-cone.jpg);
  }

  .sugarcubes-img {
    background-image: url(../images/desktop/image-gallery-sugar-cubes.jpg);
  }
}
